//nature colors
$tan_green: #E6F0D1;
$darker_gray: #19191A;
$gray: #262627;
$darker_green: #7AC247;
$light_gray: #6F6B52;
$brown: #422D00;
$light_brown: #e9ab73;
$light_tan: #d9c09e;
$light_green: #e3fbe3;
$darkGreen: #026440;